body {
    background-color: black; /* Cambiar el fondo de la página a negro */
    color: white; /* Cambiar el color del texto a blanco para mayor contraste */
    display: flex; /* Usar flexbox para organización */
}
#map {
    height: 100vh; /* Hacer que el mapa ocupe toda la altura de la ventana */
    width: 97%; /* Ancho del mapa */
}
/* Contenedor de los datos y botón */
#data {
    width: 30%; /* Ancho del contenedor de datos */
    padding: 20px; /* Espacio alrededor del contenedor */
    display: flex;
    flex-direction: column; /* Organizar en columna */
    align-items: center; /* Alinear al centro */
}
/* Subdivisión de las columnas para latitud/longitud y fecha/hora */
.row {
    display: flex; /* Organizar columnas en fila */
    width: 100%; /* Hacer que la fila ocupe todo el ancho */
    margin-top: 10px; /* Espacio entre filas */
}
.column {
    margin-right: 6px; /* Espacio entre columnas */
    flex: 1; /* Para que ambas columnas tengan el mismo ancho */
    text-align: center; /* Alinear texto al centro */
}
#data p {
    margin: 5px;
    padding: 10px 15px;
    background-color: #b2dafa; /* Fondo azul */
    border-radius: 20px; /* Bordes redondeados */
    color: black; /* Texto negro */
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombras suaves */
    text-align: center; /* Alinear texto al centro */
    width: auto;
}
#data p strong {
    font-weight: bold;
}
/* Estilo para centrar el botón */
button {
    background-color: #b2dafa;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Espacio arriba del botón */
}
button:hover {
    background-color: #0056b3;
}
